nav .brand-logo {
    margin-left: 1.5rem;
}

.card {
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 2px 1px 18px -2px rgba(133,111,111,0.71);
-webkit-box-shadow: 2px 1px 18px -2px rgba(133,111,111,0.71);
-moz-box-shadow: 2px 1px 18px -2px rgba(133,111,111,0.71);
}
.card:hover {
    animation-name: div-zoom;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    box-shadow: 2px 1px 50px 19px rgba(133,111,111,0.8);
-webkit-box-shadow: 2px 1px 50px 19px rgba(133,111,111,0.8);
-moz-box-shadow: 2px 1px 50px 19px rgba(133,111,111,0.8);
}
@keyframes div-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.05);
    }
}
.card-img {
    width: 100%;
    object-fit: contain;
}