body {
    margin: 0;
}

#nav {
    height: 60px;
    width: 100%;
    background-color: cornflowerblue;
}

#heroimg {
    height: 25em;
    width: 100%;
    background-color: darkorchid;
}

#footer {
    height: 60px;
    width: 100%;
    background-color: hotpink;
}

#history-content,
#importance-content,
#information-content {
    display: none;
}