{% extends "base.html" %} {% block content %}
<!--Image used is just a quick grab from google, will need replacing with royalty free images.-->
<h2 class="event-heading center">EVENTS</h2>
<div class="container">
  <div class="row">
    <a class="col s12 m6 xl4" href="{{ url_for('lavender_walk') }}" target="">
      <div class="card">
        <img
          class="card-img"
          src="./static/images/tonie.jpg"
          alt="Lavender walk, dublin advertisement image"
        />
        <h3>Lavender Walk</h3>
        <h4>Location: <span>Dublin</span></h4>
        <h4>21 june - 25 June</h4>
      </div>
    </a>
    <a
      class="col s12 m6 xl4"
      href="{{ url_for('bournemouth_pride') }}"
      target=""
    >
      <div class="card">
        <img class="card-img" src="./static/images/young-person.jpg" alt="" />
        <h3>Bournemouth Pride</h3>
        <h4>Location: <span>Bournemouth</span></h4>
        <h4>9 July - 10 July</h4>
      </div>
    </a>
    <!--https://www.pride-events.co.uk/event/bournemouth-pride/-->
    <a class="col s12 m6 xl4" href="{{ url_for('bristol_pride') }}" target="">
      <div class="card">
        <img class="card-img" src="./static/images/bristol.jpg" alt="" />
        <h3>Bristol pride</h3>
        <h4>Location: <span>Bristol</span></h4>
        <h4>10 July</h4>
      </div>
    </a>
    <a class="col s12 m6 xl4" href="{{ url_for('rotherham_pride') }}" target="">
      <div class="card">
        <img class="card-img" src="./static/images/pride-event.jpg" alt="" />
        <h3>Rotherham Pride</h3>
        <h4>Location: <span>Rotherham</span></h4>
        <h4>10 July</h4>
      </div>
    </a>
    <a class="col s12 m6 xl4" href="{{ url_for('llanelli_pride') }}" target="">
      <div class="card">
        <img class="card-img" src="./static/images/sign3.jpg" alt="" />
        <h3>Llanelli Pride</h3>
        <h4>Location: <span>Carmarthenshire</span></h4>
        <h4>16 July</h4>
      </div>
    </a>
    <!--https://www.pride-events.co.uk/event/bournemouth-pride/-->
    <a class="col s12 m6 xl4" href="" target="">
      <div class="card">
        <img class="card-img" src="./static/images/pride-event.jpg" alt="" />
        <h3>title</h3>
        <h4>Location: <span>loc</span></h4>
        <h4>date</h4>
      </div>
    </a>
  </div>
</div>
{% endblock %}
