{% extends "base.html" %} {% block content %}
<h2>Events</h2>
<div class="container">
  <div class="row">
    <a class="col s4" href="{{ url_for('single_event') }}" target="">
      <div class="card">
        <img class="card-img" src="./static/images/pride-event.jpg" alt="" />
        <h3>Pride Month Carnival</h3>
        <h4>Location: <span>Dublin</span></h4>
        <h4>date</h4>
      </div>
    </a>
    <a class="col s4" href="" target="">
      <div class="card">
        <img class="card-img" src="./static/images/pride-event.jpg" alt="" />
        <h3>title</h3>
        <h4>Location: <span>London</span></h4>
        <h4>date</h4>
      </div>
    </a>
    <!--https://www.pride-events.co.uk/event/bournemouth-pride/-->
    <a class="col s4" href="" target="">
      <div class="card">
        <img class="card-img" src="./static/images/pride-event.jpg" alt="" />
        <h3>Bournemouth Pride</h3>
        <h4>Location: <span>Bournemouth</span></h4>
        <h4>fri 9th July</h4>
      </div>
    </a>
  </div>
  <div class="row">
    <a class="col s4" href="" target="">
      <div class="card">
        <img class="card-img" src="./static/images/pride-event.jpg" alt="" />
        <h3>Title</h3>
        <h4>Location: <span>Loc</span></h4>
        <h4>date</h4>
      </div>
    </a>
    <a class="col s4" href="" target="">
      <div class="card">
        <img class="card-img" src="./static/images/pride-event.jpg" alt="" />
        <h3>Title</h3>
        <h4>Location: <span>Loc</span></h4>
        <h4>date</h4>
      </div>
    </a>
    <!--https://www.pride-events.co.uk/event/bournemouth-pride/-->
    <a class="col s4" href="" target="">
      <div class="card">
        <img class="card-img" src="./static/images/pride-event.jpg" alt="" />
        <h3>title</h3>
        <h4>Location: <span>loc</span></h4>
        <h4>date</h4>
      </div>
    </a>
  </div>
</div>
{% endblock %}
