{% extends "base.html" %} {% block content %}
<div class="container">
  <h2 class="center">Welcome to Event Pride</h2>
  <div class="hero-img">
    <div class="carousel carousel-slider">
      <a class="carousel-item" href="#"
        ><img src="static/images/sign3.jpg"
      /></a>
      <a class="carousel-item" href="#"
        ><img src="static/images/drag-queens.jpg"
      /></a>
      <a class="carousel-item" href="#"
        ><img id="wedding" src="static/images/wedding.jpg"
      /></a>
      <a class="carousel-item" href="#"
        ><img src="static/images/love-is-love.jpg"
      /></a>
      <a class="carousel-item" href="#"
        ><img src="static/images/night-pride.jpg"
      /></a>
      <a class="carousel-item" href="#"
        ><img id="dog-pride" src="static/images/dog-pride.jpg"
      /></a>
    </div>
  </div>
  <div class="container">
    <div class="info-text">
      <!--Base info text for the homepage.-->
      <p>
        Here at EventPride we want to bring people together. Pride is an important time of year, so here you will
        find upcoming events all around the world. These are routinely updated, and events are added all year round!
        not just at pride, so check back with us regularly. <br>
        Feel free to drop us a message in our contact us page with any suggestions or queries you may have!
      </p>
    </div>
  </div>
  <div class="next-event">
    <h4 class="center">Next Event:</h4>
    <a class="" href="{{ url_for('lavender_walk') }}" target="">
      <div class="card">
        <img
          class="card-img"
          src="./static/images/tonie.jpg"
          alt="Lavender walk, dublin advertisement image"
        />
        <h3>Lavender Walk</h3>
        <h4>Location: <span>Dublin</span></h4>
        <h4>21 june - 25 June</h4>
      </div>
    </a>
  </div>
</div>
{% endblock %}
