{% extends "base.html" %} {% block content %}
<div class="container">
  <div class="buttons">
    <a
      class="waves-effect waves-light btn-small left"
      href="{{ url_for('rotherham_pride') }}"
      >Previous</a
    >
    <a
      class="waves-effect waves-light btn-small right"
      href="{{ url_for('get_events') }}"
      >Next</a
    >
  </div>
  <br />
  <h2 class="center">Llanelli Pride 2021</h2>
  <img
    class="event-img"
    src="../static/images/drag-queens.jpg"
    alt="drag queens"
  />
  <h3>Location: Selwyn Samuel Center</h3>
  <h5>16th - 18th July</h5>
  <h5>Time: TBA</h5>
  <p>3 Days of Pride? Now that’s a Party!</p>
  <p>
    Pride Events UK has just found out that the Llanelli Pride 2021 is going to
    be held over 3-days and we cannot wait! The Event will take place from the
    12th to the 18th of July 2021 at the Selwyn Samuel Centre.
  </p>
  <p>
    Stay tuned to Pride Events for all the best UK pride info. We have the
    latest updates on all your favourite prides and more PLUS a newsletter you
    can subscribe to so that you never skip a beat.
  </p>
  <p>
    <a
      href="https://www.pride-events.co.uk/event/llanelli-pride/"
      target="_blank"
      >More Information on This Event</a
    >
  </p>
  <!--Map-->
  <div id="mapid"></div>
</div>
<script>
  var myMap = L.map("mapid").setView(
    [51.681048027372526, -4.169292457316284],
    13
  );
  var marker = L.marker([51.681048027372526, -4.169292457316284]).addTo(myMap);
  L.tileLayer(
    "https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}",
    {
      attribution:
        'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
      maxZoom: 18,
      id: "mapbox/streets-v11",
      tileSize: 512,
      zoomOffset: -1,
      accessToken:
        "pk.eyJ1Ijoicm9vbWFjYXJ0aHVyIiwiYSI6ImNrcTVuZWY1MTE0d2Yydm8wb3JoeXJmYWsifQ.o1gu8ucOwq9lfys2xG7eTA",
    }
  ).addTo(myMap);
</script>
{%endblock%}
