{% extends "base.html" %} {% block content %}
<div class="container">
    <!-- Main section, containing brief pride tagline and buttons to view more information.-->
    <div class="row center">
        <div class="col s12">
            <p>
                When we talk about Pride, most of people think about parades. And it is
                true, but it's only the tip of the iceberg. Let's discover more in
                details...
            </p>
            <p>What is Pride?</p>
        </div>
        <div class="col s12 m4">
            <button class="btn-large waves-effect waves-light" id="history">
                History of Pride
            </button>
        </div>
        <div class="col s12 m4">
            <button class="btn-large waves-effect waves-light" id="importance">
                Importance of Pride
            </button>
        </div>
        <div class="col s12 m4">
            <button class="btn-large waves-effect waves-light" id="information">
                Information about Pride
            </button>
        </div>
    </div>
    <!--Content sections, to be displayed on click of buttons above.-->
    <div class="row">
        <div class="col s12" id="wiki-content">
            <div id="history-content">
                <h3>HISTORY</h3>
                <p>LGBT Pride Month occurs to commemorate the Stonewall riots, which occurred at the end of June 1969.
                    As a result, many pride events are held during this month to recognize the impact LGBT people have had in the world..</p>
                <p>In the 1980s there was a major cultural shift in the Stonewall Riot commemorations.
                    The previous loosely organized, grassroots marches and parades were taken over by more organized and less radical elements of the gay community.
                    The marches began dropping "Liberation" and "Freedom" from their names under pressure from more conservative members of the community, replacing them with the philosophy of "Gay Pride"</p>
                <p>The term "Gay Pride" was crafted by Thom Higgins, a gay rights activist in Minnesota (1969+). Brenda Howard, a bisexual activist, is known as the "Mother of Pride" for her work in coordinating the first Pride march in New York City, and she also originated the idea for a week-long series of events around Pride Day which became the genesis of the annual LGBT Pride celebrations that are now held around the world every June.
                    Additionally, Howard along with the bisexual activist Robert A. Martin (aka Donny the Punk) and gay activist L. Craig Schoonmaker are credited with popularizing the word "Pride" to describe these festivities.
                    Bisexual activist Tom Limoncelli later stated, "The next time someone asks you why LGBT Pride marches exist or why [LGBT] Pride Month is June tell them 'A bisexual woman named Brenda Howard thought it should be.</p>

                <h4>The Stonewall Riots</h4>
                <p>
                    Life for the LGBTQ community faces difficulties today, but the day-to-day lives many get to lead today is the dream many before them longed for.
                    In 1960s America the prejudice and discrimination was commonplace. While being gay wasn’t a crime itself in America, any public displays of being so
                    were. If you weren't wearing at least 3 pieces of clothes designed for your gender, this was considered grounds for arrest. <br>
                    The bars and clubs the gay community flocked to were considered a safe haven, where people were free to be themselves.
                    But these were subject to frequent raids by the police, often leading to unjust and aggressive arrests. The StoneWall Inn was one such haven.
                    Although it was run by the mafia, they paid off the police and so they had certain protection against these raids. That was until one night on
                    June 28th, 1969. The bar was raided without warning and police shut the bar down, making violent arrests. The so called paddywagons took a longer time
                    than usual to arrive, and while patrons were waiting for them outside, handcuffed, a crowd gathered. While not known for definite, it’s thought that
                    the spark that ignited the brewing fury, agitation and oppression of the patrons was the arrest of a woman, possibly Stormé DeLarverie (though this is up for debate). <br>
                    The policemen were roughly shoving her into a police car, when she called for the crowd to take action. The onlooking patrons turned on the police,
                    and started yelling and throwing what they could find. It escalated, and the police retreated into the Stonewall Inn and built a barricade.
                    The crowd turned to the building and tried to break in - using bricks, parking meters and makeshift firebombs. The violence subsided after a couple
                    of hours, and miraculously, no one was reported dead or critically injured.<br>
                    The next night the Stonewall Inn opened, despite being heavily damaged and not selling alcohol. Crowds gathered, and momentum for gay rights built.
                    The police showed up in force to disperse the rioters, using violence and tear gas. Crowds continued to gather at the Stonewall Inn over the next
                    4 nights, though the violence de-escalated. <br>
                    The media coverage was minimal, and those that existed undermined the situation, and used homophobic slurs. This itself led to riots on a smaller scale.
                </p>
                <p>
                    The events at Stonewall may not have marked the beginning of the gay rights movement, but it marked a turning point for it and led to the
                    formation of the Gay Liberation Front (GLF) and the Gay Activists Alliance (GAA). Their activism needed to change from the quiet, passive tone
                    it had before this. Their voices needed to be heard for change to happen.<br>
                    The following year, on the anniversary of the Stonewall riots, the first pride parade was held starting from the Stonewall Inn and thousands of
                    people gathered. The frenzy of activism born during the Stonewall riots in time fuelled gay rights movements across the world.
                </p>
                <p>The LGBTQ+ movement has come incredibly far in a lot of countries, but the importance of the events in Stonewall, and the events not mentioned here
                    whic came before that, should not be forgotten. In 2016 during pride month, President Barack Obama established a 7.7-acre area around the re-opened
                    Stonewall Inn as the Stonewall National Movement, turning the site that sparked a worldwide movement into the first LGBT national park site in the
                    United States.
                </p>

                <h4>The evolution of pride</h4>
                <p>
                    The first parade held in New York, 1970 would be unrecognisable today. While they are both political movements fighting against an unjust system,
                    the festival-like event pride tends to be now is a stark contrast against its beginnings. There weren’t floats, dancing and scandalous outfits.
                    Just people gathering in solidarity with chants and and signs. It was a strong and daring political statement - “Say it loud, gay is proud” became
                    the chant heard from the crowd. That same week Chicago and LA had their own parades, and San Francisco held a sit in.
                </p>
                <p> As years passed and momentum for the movement grew, spreading across different countries around the world, they became a place and time
                    for reform. Pride events presented an opportunity to widely register queer people to vote, for groups like ACT UP to demand action on HIV, and
                    to pressure politicians to express their support for the community by marching. Pride month became the time for big legal change, such
                    as <em>Obergefell</em>, which legalized marriage equality, the <em>Lawrence</em> decision that ended sodomy bans, and the <em>Bostock</em>
                    ruling which stopped hospitals from turning away trans patients. Each victory was a step closer to equality, and the events during pride turned
                    more into celebrations to recognise how far the movement had come, and people now had the freedom to express themselves however they wish.
                </p>
                <p>
                    Today there is some concern that pride events are straying from what they are at heart - a protest and a call for equality. Large corporations
                    are getting involved for the good press, and don’t always have the LGBTQ support they claim to have. In San Francisco, Google was a big donor
                    to the organisation and funding of pride events, despite failing to address the problem of homophobic harrassment on YouTube. This has led to
                    the formation of smaller events and marches, which crash the bigger one to serve as a reminder for why everyone is gathering.
                </p>
            </div>
            <div id="importance-content">
                <h3>IMPORTANCE</h3>
                <p>
                    It’s not uncommon for the heterosexual cis-gender people of the world to declare their tiredness of minority movements. From our place of
                    privilege we sometimes forget the ongoing struggles people face, just because we don’t see them happen before our eyes. It’s 2021, and with
                    all the progress that has been made for the LGBTQ+ community, you would think by now we would have reached equality. But we haven’t.
                    Discrimination and abuse is still all too common, at a public and legislative level. This spans from incredibly homophobic slurs being painted
                    outside a beloved gay bar in Dublin at the start of pride month this year, to the ongoing ciminalisation for simply being gay in a disappointing
                    number of countries.
                </p>
                <p>The Irish government, among many others, have been patting themselves on the back for recently lifting the lifetime ban on gay men donating blood.
                    Now they only have to wait 12 months after being with another man. For some countries it has been reduced to three months, so long as they are in
                    a monogamous relationship for at least 3 months. While the risks associated with HIV in the past were high, getting tested is easier than ever now
                    and this seems like an outdated ban which needs further addressing.
                </p>
                <p>
                    <strong>Some shocking statistics for you:</strong><br>
                    This year (2021) it was stated that more than 4,000 teachers across Ireland hide their sexuality to avoid discrimination in their workplace.<br>
                    2021 was declared the worst year for anti-LGBTQ+ rights in America since 2015, with more than 17 anti-LGBTQ+ bills being passed into law this
                    year alone, diminishing the rights of the community. <br>
                    The FBI released a statement that almost 19% of hate crime that occurred in 2019 had anti-LGBTQ motives. That’s just short of 1 in every 5.<br>
                    Egypt remains one of the world’s worst countries for gay rights, with it still being a criminal offence. They all but deny the existence of the
                    LGBTQ community,and refused to acknowledge the ‘sexual orientation’ and ‘gender identity’ sections of their UN review. Yet still people in the
                    community are rounded up, arrested and tortured. A woman who dared to wave a pride flag at a concert in Cairo in 2017 was arrested, tortured
                    and assaulted before being exiled.
                </p>
                <p>In 2018 a study in Britain found that:<br>
                    One in eight LGBT people (13 per cent) have experienced some form of unequal treatment from healthcare staff because they’re LGBT.<br>
                    Almost one in four LGBT people (23 per cent) have witnessed discriminatory or negative remarks against LGBT people by healthcare staff.<br>
                    One in twenty LGBT people (five per cent) have been pressured to access services to question or change their sexual orientation when accessing
                    healthcare services.<br>
                    One in five trans people (20 per cent) have been pressured to access services to suppress their gender identity.<br>
                    One in seven LGBT people (14 per cent) have avoided treatment for fear of discrimination because they’re LGBT.<br>
                    Only half of lesbian, gay and bi people (46 per cent) and trans people (47 per cent) feel able to be open about their sexual orientation or
                    gender identity to everyone in their family. <br>
                    More than a third of LGBT staff (35 per cent) have hidden that they are LGBT at work for fear of discrimination. <br>
                    Almost one in five LGBT staff (18 per cent) have been the target of negative comments or conduct from work colleagues because they’re LGBT.<br>
                    One in eight trans people (12 per cent) have been physically attacked by customers or colleagues in the last year. <br>
                    More than a third of trans students (36 per cent) and seven per cent of lesbian, gay and bi students who aren’t trans faced negative comments
                    or conduct from university staff because they’re LGBT.<br>
                    One in five LGBT people have experienced a hate crime or incident because of their sexual orientation and/or gender identity in the last 12
                    months.<br>
                    Two in five trans people have experienced a hate crime or incident because of their gender identity in the last 12 months. <br>
                    Nearly half (45 per cent) of LGBT pupils - including 64 per cent of trans pupils - are bullied for being LGBT in Britain's schools.<br><br>
                    <strong>International figures from the same study:</strong><br>
                    72 countries criminalise same-sex relationships (and in 45 the law is applied to women as well as men). <br>
                    The death penalty is either ‘allowed’, or evidence of its existence occurs, in 8 countries. <br>
                    In more than half the world, LGBT people may not be protected from discrimination by workplace law. <br>
                    Most governments deny trans people the right to legally change their name and gender from those that were assigned to them at birth.<br>
                    Between 2008 and 2014, there were 1,612 trans people were murdered across 62 countries - equivalent to a killing every two days. <br>
                    A quarter of the world’s population believes that being LGBT should be a crime.
                </p>
            </div>
            <div id="information-content">
                <h3>INFORMATION</h3>
                <h4>What does LGBTQ+ mean?</h4>
                <p>
                    LGBT, LGBTQ, LGBTQ+ and LGBTQIA+ are all acronyms which aim to describe as inclusively as possible the members of the LGBTQ+ community. It stands for lesbian, gay, bisexual, transgender, queer (or questioning), intersex and ally (or asexual). The + denotes all the members of the community not defined in these letters. Sexual orientation and gender are constantly evolving, and so too is the language to ensure inclusivity.
                    The following is a brief guide to the commonly used identities and orientation, but definitely is not a complete list:
                    <ul>
                        <li>Lesbian refers to women who are attracted to other women.</li>
                        <li>Gay is sometimes used as an umbrella term for a person that is attracted to other people of the same gender, but typically refers to men.</li>
                        <li>Bisexual refers to someone who is attracted to people of their own and other genders. Though this term can be interpreted as reinforcing a male/female gender binary that restricts inclusivity.</li>
                        <li>Transgender is a broad term used to describe a person whose gender differs to the biological sex they were born with.</li>
                        <li>Queer doesn't have an exact definition, and means different things to different people. A broad description would be it's a very inclusive term which includes people who are not heterosexual and don't feel comfortable using, or that they fit into, some of the more defined orientations. It was previously used as a slur, but has been reclaimed by the community.</li>
                        <li>Questioning refers to a person still exploring and defining their gender identity and/or sexual orientation.</li>
                        <li>Intersex is a person born with biological sex characteristics that aren’t traditionally associated with male or female bodies. </li>
                        <li>Asexual refers to people who experience little or no sexual attraction. </li>
                        <li>An ally is a heterosexual cisgender person who actively supports the LGBTQ+ community and aims to help the movement gain equal rights, gender equality and challenges anti-LGBTQ ideals.</li>
                        <li>Pansexual refers to a person who is attracted to people of all gender identities. This is a term preferred by those that feel like bisexual assumes gender binary. </li>
                        <li>Nonbinary is a person who doesn't identify as male or female, and uses they/them pronouns.</li>
                        <li>Gender fluid refers to a person who identifies and presents as male and female at different times.</li>
                    </ul>
                </p>

                <!--Flag section-->
                <h4 class="center">LGBTQIA+ flags</h4>
                <p class="center">
                    This isn’t a complete list, but rather an illustration of the more common ones seen.
                    Please look <a href="https://www.pride.com/pride/2021/5/25/complete-guide-queer-pride-flags#media-gallery-media-19">here</a>
                    for a more complete list
                </p>
                <div id="flag-container">
                    <div id=" flag1" class="flags">
                        <button class="flag-button">
                            <img src="static/images/flags/gilbert-baker-pride-flag.jpg">
                        </button>
                        <div id="flag1Modal" class="modal">
                            <div class="modal-content">
                                <span class="close">&times;</span>
                                <p>
                                    The first pride flag created by artist Gilbert Baker in 1978. A rainbow was chosen as it is recognised as a symbol of hope.<br>
                                    Each colour has a different meaning:<br>
                                    Pink: Sex <br>
                                    Red: Life <br>
                                    Orange: Healing <br>
                                    Yellow: Sunlight<br>
                                    Green: Nature<br>
                                    Turquoise: Magic<br>
                                    Blue: Harmony<br>
                                    Violet: Spirit <br>
                                </p>
                            </div>
                        </div>
                        <h5>The first pride flag</h5>
                    </div>

                    <div id="flag2" class="flags">
                        <button class="flag-button">
                            <img src="static/images/flags/international-pride-flag.png">
                        </button>
                        <div id="flag2Modal" class="modal">
                            <div class="modal-content">
                                <span class="close">&times;</span>
                                <p>
                                    The pink and turquoise colours were dropped to make the flag easier to mass produce.
                                    It still stands as a symbol of love and pride, and is often used by businesses to show their support.
                                </p>
                            </div>
                        </div>
                        <h5>The current international pride flag</h5>
                    </div>

                    <div id="flag3" class="flags">
                        <button class="flag-button">
                            <img src="static/images/flags/progess.png">
                        </button>
                        <div id="flag3Modal" class="modal">
                            <div class="modal-content">
                                <span class="close">&times;</span>
                                <p>
                                    This flag was updated by Daniel Quasar to include the colours of the trans flag (pink, white, blue),
                                    and the black and brown colours give representation to the marginalised people of the community.
                                    The arrow shape shows that progress needs to be made, but we are moving in the right direction.
                                </p>
                            </div>
                        </div>
                        <h5>The progress flag</h5>
                    </div>

                    <div id="flag4" class="flags">
                        <button class="flag-button">
                            <img src="static/images/flags/bisexual-flag.png">
                        </button>
                        <div id="flag4Modal" class="modal">
                            <div class="modal-content">
                                <span class="close">&times;</span>
                                <p>
                                    This flag was created by Michael Page to have a symbol for bisexual people to feel
                                    connected to.<br>
                                    Pink: same-sex attraction<br>
                                    Blue: Opposite sex attraction<br>
                                    Lavender: Attraction to both sexes<br>
                                </p>
                            </div>
                        </div>
                        <h5>The bisexual flag</h5>
                    </div>

                    <div id="flag5" class="flags">
                        <button class="flag-button">
                            <img src="static/images/flags/transgender-flag.png">
                        </button>
                        <div id="flag5Modal" class="modal">
                            class="modal-content">
                            <span class="close">&times;</span>
                            <p>
                                This flag was created by Monica Helms, a transgender woman in 1999.<br>
                                Blue represents boys.<br>
                                Pink represents girls.<br>
                                White represents those who are transitioning, have no gender or are gender neutral.
                            </p>
                        </div>
                        <h5>The transgender flag</h5>
                    </div>

                    <div id="flag6" class="flags">
                        <button class="flag-button">
                            <img src="static/images/flags/non-binary-flag.png">
                        </button>
                        <div id="flag6Modal" class="modal">
                            <div class="modal-content">
                                <span class="close">&times;</span>
                                <p>
                                    This flag was created by Kye Rowan for the people who weren’t represented
                                    by the current flags.<br>
                                    Yellow represents genders outside of gender binary<br>
                                    White represents people who identify with more than one gender<br>
                                    Purple represents genders that are a mix of male and female<br>
                                    Black represents people who are agender<br>
                                </p>
                            </div>
                        </div>
                        <h5>The non-binary flag</h5>
                    </div>

                    <div id="flag7" class="flags">
                        <button class="flag-button">
                            <img src="static/images/flags/asexual-flag.png">
                        </button>
                        <div id="flag7Modal" class="modal">
                            <div class="modal-content">
                                <span class="close">&times;</span>
                                <p>
                                    This flag was created in 2010 to raise awareness of asexuality in the community.<br>
                                    Black: represents asexuality (no sexual attraction)<br>
                                    Grey: represents grey asexuality, where some sexual attraction is felt by individuals<br>
                                    White: represents sexuality<br>
                                    Purple: represents community <br>
                                </p>
                            </div>
                        </div>
                        <h5>The asexual flag</h5>
                    </div>

                    <div id="flag8" class="flags">
                        <button class="flag-button">
                            <img src="static/images/flags/pansexual-flag.png">
                        </button>
                        <div id="flag8Modal" class="modal">
                            class="modal-content">
                            <span class="close">&times;</span>
                            <p>
                                Unsure who created it, but it has gathered favour and attention over the last 10 years as a
                                symbol of attraction to all genders.<br>
                                Blue: attraction to males <br>
                                Pink: attraction to females<br>
                                Yellow: attraction to non-binary people<br>
                            </p>
                        </div>
                        <h5>The pansexual flag</h5>
                    </div>

                    <div id="flag9" class="flags">
                        <button class="flag-button">
                            <img src="static/images/flags/genderfluid.png">
                        </button>
                        <div id="flag9Modal" class="modal">
                            <div class="modal-content">
                                <span class="close">&times;</span>
                                <p>
                                    This flag was created by JJ Poole to represent the people whose gender identity
                                    shifts.<br>
                                    Pink represents feminity<br>
                                    White represents all genders<br>
                                    Purple represents masculinity and femininity<br>
                                    Black represents a lack of gender<br>
                                    Blue represents masculinity<br>
                                </p>
                            </div>
                        </div>
                        <h5>The genderfluid flag</h5>
                    </div>

                    <div id="flag10" class="flags">
                        <button class="flag-button">
                            <img src="static/images/flags/intersex.png">
                        </button>
                        <div id="flag10Modal" class="modal">
                            <div class="modal-content">
                                <span class="close">&times;</span>
                                <p>
                                    This flag was created by Morgan Carpenter to represent intersex people and break down the incorrect stereotypes.<br>
                                    The gold/yellow was chosen after being inspired by a story they were told
                                    to reclaim the hermaphrodite slur.<br>
                                    The purple circle represents a community which is unbroken; whole and complete.<br>
                                </p>
                            </div>
                        </div>
                        <h5>The intersex flag</h5>
                    </div>

                    <div id="flag11" class="flags">
                        <button class="flag-button">
                            <img src="static/images/flags/ally-flag.jpg">
                        </button>
                        <div id="flag11Modal" class="modal">
                            <div class="modal-content">
                                <span class="close">&times;</span>
                                <p>
                                    The black and white represents the heterosexual cisgender people <br>
                                    The rainbow colours represent the LGBTQIA+ community, in the shape of an ‘A’ to represent allies.
                                </p>
                            </div>
                        </div>
                        <h5>The ally flag</h5>
                    </div>

                    <div id="flag12" class="flags">
                        <button class="flag-button">
                            <img src="static/images/flags/philedelphia.jpg">
                        </button>
                        <div id="flag12Modal" class="modal">
                            <div class="modal-content">
                                <span class="close">&times;</span>
                                <p>
                                    Noting that queer people of color are often not fully included in the
                                    LGBT community, the city of Philadelphia added two colors — black and brown — to the Pride flag in their honor.
                                    This represents the black and latin communities of Philedelphia. While only intended for Philedelphia,its popularity
                                    took off worldwide.
                                </p>
                            </div>
                        </div>
                        <h5>The Philedelphia flag</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% endblock %}
{% endblock %}
{% endblock %}
{% endblock %}