{% extends "base.html" %} {% block content %}
<div class="container">
    <!-- Main section, containing brief pride tagline and buttons to view more information.-->
    <div class="row center">
        <div class="col s12">
            <p>
                When we talk about Pride, most of people think about parades. And it is
                true, but it's only the tip of the iceberg. Let's discover more in
                details...
            </p>
            <p>What is Pride?</p>
        </div>
        <div class="col s12 m4">
            <button class="btn-large waves-effect waves-light" id="history">
                History of Pride
            </button>
        </div>
        <div class="col s12 m4">
            <button class="btn-large waves-effect waves-light" id="importance">
                Importance of Pride
            </button>
        </div>
        <div class="col s12 m4">
            <button class="btn-large waves-effect waves-light" id="information">
                Information about Pride
            </button>
        </div>
    </div>
    <!--Content sections, to be displayed on click of buttons above.-->
    <div class="row">
        <div class="col s12" id="wiki-content">
            <div id="history-content">
                <h3>HISTORY</h3>
                <p>LGBT Pride Month occurs to commemorate the Stonewall riots, which occurred at the end of June 1969.
                    As a result, many pride events are held during this month to recognize the impact LGBT people have had in the world..</p>
                <p>In the 1980s there was a major cultural shift in the Stonewall Riot commemorations.
                    The previous loosely organized, grassroots marches and parades were taken over by more organized and less radical elements of the gay community.
                    The marches began dropping "Liberation" and "Freedom" from their names under pressure from more conservative members of the community, replacing them with the philosophy of "Gay Pride"</p>
                <p>The term "Gay Pride" was crafted by Thom Higgins, a gay rights activist in Minnesota (1969+). Brenda Howard, a bisexual activist, is known as the "Mother of Pride" for her work in coordinating the first Pride march in New York City, and she also originated the idea for a week-long series of events around Pride Day which became the genesis of the annual LGBT Pride celebrations that are now held around the world every June.
                    Additionally, Howard along with the bisexual activist Robert A. Martin (aka Donny the Punk) and gay activist L. Craig Schoonmaker are credited with popularizing the word "Pride" to describe these festivities.
                    Bisexual activist Tom Limoncelli later stated, "The next time someone asks you why LGBT Pride marches exist or why [LGBT] Pride Month is June tell them 'A bisexual woman named Brenda Howard thought it should be.</p>

                <h4>The Stonewall Riots</h4>
                <p>
                    Life for the LGBTQ community faces difficulties today, but the day-to-day lives many get to lead today is the dream many before them longed for.
                    In 1960s America the prejudice and discrimination was commonplace. While being gay wasn’t a crime itself in America, any public displays of being so
                    were. If you weren't wearing at least 3 pieces of clothes designed for your gender, this was considered grounds for arrest. <br>
                    The bars and clubs the gay community flocked to were considered a safe haven, where people were free to be themselves.
                    But these were subject to frequent raids by the police, often leading to unjust and aggressive arrests. The StoneWall Inn was one such haven.
                    Although it was run by the mafia, they paid off the police and so they had certain protection against these raids. That was until one night on
                    June 28th, 1969. The bar was raided without warning and police shut the bar down, making violent arrests. The so called paddywagons took a longer time
                    than usual to arrive, and while patrons were waiting for them outside, handcuffed, a crowd gathered. While not known for definite, it’s thought that
                    the spark that ignited the brewing fury, agitation and oppression of the patrons was the arrest of a woman, possibly Stormé DeLarverie (though this is up for debate). <br>
                    The policemen were roughly shoving her into a police car, when she called for the crowd to take action. The onlooking patrons turned on the police,
                    and started yelling and throwing what they could find. It escalated, and the police retreated into the Stonewall Inn and built a barricade.
                    The crowd turned to the building and tried to break in - using bricks, parking meters and makeshift firebombs. The violence subsided after a couple
                    of hours, and miraculously, no one was reported dead or critically injured.<br>
                    The next night the Stonewall Inn opened, despite being heavily damaged and not selling alcohol. Crowds gathered, and momentum for gay rights built.
                    The police showed up in force to disperse the rioters, using violence and tear gas. Crowds continued to gather at the Stonewall Inn over the next
                    4 nights, though the violence de-escalated. <br>
                    The media coverage was minimal, and those that existed undermined the situation, and used homophobic slurs. This itself led to riots on a smaller scale.
                </p>
                <p>
                    The events at Stonewall may not have marked the beginning of the gay rights movement, but it marked a turning point for it and led to the
                    formation of the Gay Liberation Front (GLF) and the Gay Activists Alliance (GAA). Their activism needed to change from the quiet, passive tone
                    it had before this. Their voices needed to be heard for change to happen.<br>
                    The following year, on the anniversary of the Stonewall riots, the first pride parade was held starting from the Stonewall Inn and thousands of
                    people gathered. The frenzy of activism born during the Stonewall riots in time fuelled gay rights movements across the world.
                </p>
                <p>The LGBTQ+ movement has come incredibly far in a lot of countries, but the importance of the events in Stonewall, and the events not mentioned here
                    whic came before that, should not be forgotten. In 2016 during pride month, President Barack Obama established a 7.7-acre area around the re-opened
                    Stonewall Inn as the Stonewall National Movement, turning the site that sparked a worldwide movement into the first LGBT national park site in the
                    United States.
                </p>
            </div>
            <div id="importance-content">
                <h3>IMPORTANCE</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque
                    quibusdam, consequatur, explicabo placeat enim, at non quaerat ad
                    eveniet deleniti natus quae provident inventore maiores! Aut autem
                    quam ipsum maxime.
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque
                    quibusdam, consequatur, explicabo placeat enim, at non quaerat ad

                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque
                    quibusdam, consequatur, explicabo placeat enim, at non quaerat ad
                    eveniet deleniti natus quae provident inventore maiores! Aut autem
                </p>
            </div>
            <div id="information-content">
                <h3>INFORMATION</h3>
                <h4>What does LGBTQ+ mean?</h4>
                <p>
                    LGBT, LGBTQ, LGBTQ+ and LGBTQIA+ are all acronyms which aim to describe as inclusively as possible the members of the LGBTQ+ community. It stands for lesbian, gay, bisexual, transgender, queer (or questioning), intersex and ally (or asexual). The + denotes all the members of the community not defined in these letters. Sexual orientation and gender are constantly evolving, and so too is the language to ensure inclusivity.
                    The following is a brief guide to the commonly used identities and orientation, but definitely is not a complete list:
                    <ul>
                        <li>Lesbian refers to women who are attracted to other women.</li>
                        <li>Gay is sometimes used as an umbrella term for a person that is attracted to other people of the same gender, but typically refers to men.</li>
                        <li>Bisexual refers to someone who is attracted to people of their own and other genders. Though this term can be interpreted as reinforcing a male/female gender binary that restricts inclusivity.</li>
                        <li>Transgender is a broad term used to describe a person whose gender differs to the biological sex they were born with.</li>
                        <li>Queer doesn't have an exact definition, and means different things to different people. A broad description would be it's a very inclusive term which includes people who are not heterosexual and don't feel comfortable using, or that they fit into, some of the more defined orientations. It was previously used as a slur, but has been reclaimed by the community.</li>
                        <li>Questioning refers to a person still exploring and defining their gender identity and/or sexual orientation.</li>
                        <li>Intersex is a person born with biological sex characteristics that aren’t traditionally associated with male or female bodies. </li>
                        <li>Asexual refers to people who experience little or no sexual attraction. </li>
                        <li>An ally is a heterosexual cisgender person who actively supports the LGBTQ+ community and aims to help the movement gain equal rights, gender equality and challenges anti-LGBTQ ideals.</li>
                        <li>Pansexual refers to a person who is attracted to people of all gender identities. This is a term preferred by those that feel like bisexual assumes gender binary. </li>
                        <li>Nonbinary is a person who doesn't identify as male or female, and uses they/them pronouns.</li>
                        <li>Gender fluid refers to a person who identifies and presents as male and female at different times.</li>
                    </ul>
                </p>

                <!--Flag section-->
                <h4 class="center">LGBTQIA+ flags</h4>
                <p class="center">
                    This isn’t a complete list, but rather an illustration of the more common ones seen.
                    Please look <a href="https://www.pride.com/pride/2021/5/25/complete-guide-queer-pride-flags#media-gallery-media-19">here</a>
                    for a more complete list
                </p>
                <div id="flag-container">
                    <div id=" flag1" class="flags">
                        <button class="flag-button">
                            <img src="static/images/flags/gilbert-baker-pride-flag.jpg">
                        </button>
                        <div id="flag1Modal" class="modal">
                            <div class="modal-content">
                                <span class="close">&times;</span>
                                <p>
                                    The first pride flag created by artist Gilbert Baker in 1978. A rainbow was chosen as it is recognised as a symbol of hope.<br>
                                    Each colour has a different meaning:<br>
                                    Pink: Sex <br>
                                    Red: Life <br>
                                    Orange: Healing <br>
                                    Yellow: Sunlight<br>
                                    Green: Nature<br>
                                    Turquoise: Magic<br>
                                    Blue: Harmony<br>
                                    Violet: Spirit <br>
                                </p>
                            </div>
                        </div>
                        <h5>The first pride flag</h5>
                    </div>

                    <div id="flag2" class="flags">
                        <button class="flag-button">
                            <img src="static/images/flags/international-pride-flag.png">
                        </button>
                        <div id="flag2Modal" class="modal">
                            <div class="modal-content">
                                <span class="close">&times;</span>
                                <p>
                                    The pink and turquoise colours were dropped to make the flag easier to mass produce.
                                    It still stands as a symbol of love and pride, and is often used by businesses to show their support.
                                </p>
                            </div>
                        </div>
                        <h5>The current international pride flag</h5>
                    </div>

                    <div id="flag3" class="flags">
                        <button class="flag-button">
                            <img src="static/images/flags/progess.png">
                        </button>
                        <div id="flag3Modal" class="modal">
                            <div class="modal-content">
                                <span class="close">&times;</span>
                                <p>
                                    This flag was updated by Daniel Quasar to include the colours of the trans flag (pink, white, blue),
                                    and the black and brown colours give representation to the marginalised people of the community.
                                    The arrow shape shows that progress needs to be made, but we are moving in the right direction.
                                </p>
                            </div>
                        </div>
                        <h5>The progress flag</h5>
                    </div>

                    <div id="flag4" class="flags">
                        <button class="flag-button">
                            <img src="static/images/flags/bisexual-flag.png">
                        </button>
                        <div id="flag4Modal" class="modal">
                            <div class="modal-content">
                                <span class="close">&times;</span>
                                <p>
                                    This flag was created by Michael Page to have a symbol for bisexual people to feel
                                    connected to.<br>
                                    Pink: same-sex attraction<br>
                                    Blue: Opposite sex attraction<br>
                                    Lavender: Attraction to both sexes<br>
                                </p>
                            </div>
                        </div>
                        <h5>The bisexual flag</h5>
                    </div>

                    <div id="flag5" class="flags">
                        <button class="flag-button">
                            <img src="static/images/flags/transgender-flag.png">
                        </button>
                        <div id="flag5Modal" class="modal">
                            class="modal-content">
                            <span class="close">&times;</span>
                            <p>
                                This flag was created by Monica Helms, a transgender woman in 1999.<br>
                                Blue represents boys.<br>
                                Pink represents girls.<br>
                                White represents those who are transitioning, have no gender or are gender neutral.
                            </p>
                        </div>
                        <h5>The transgender flag</h5>
                    </div>

                    <div id="flag6" class="flags">
                        <button class="flag-button">
                            <img src="static/images/flags/non-binary-flag.png">
                        </button>
                        <div id="flag6Modal" class="modal">
                            <div class="modal-content">
                                <span class="close">&times;</span>
                                <p>
                                    This flag was created by Kye Rowan for the people who weren’t represented
                                    by the current flags.<br>
                                    Yellow represents genders outside of gender binary<br>
                                    White represents people who identify with more than one gender<br>
                                    Purple represents genders that are a mix of male and female<br>
                                    Black represents people who are agender<br>
                                </p>
                            </div>
                        </div>
                        <h5>The non-binary flag</h5>
                    </div>

                    <div id="flag7" class="flags">
                        <button class="flag-button">
                            <img src="static/images/flags/asexual-flag.png">
                        </button>
                        <div id="flag7Modal" class="modal">
                            <div class="modal-content">
                                <span class="close">&times;</span>
                                <p>
                                    This flag was created in 2010 to raise awareness of asexuality in the community.<br>
                                    Black: represents asexuality (no sexual attraction)<br>
                                    Grey: represents grey asexuality, where some sexual attraction is felt by individuals<br>
                                    White: represents sexuality<br>
                                    Purple: represents community <br>
                                </p>
                            </div>
                        </div>
                        <h5>The asexual flag</h5>
                    </div>

                    <div id="flag8" class="flags">
                        <button class="flag-button">
                            <img src="static/images/flags/pansexual-flag.png">
                        </button>
                        <div id="flag8Modal" class="modal">
                            class="modal-content">
                            <span class="close">&times;</span>
                            <p>
                                Unsure who created it, but it has gathered favour and attention over the last 10 years as a
                                symbol of attraction to all genders.<br>
                                Blue: attraction to males <br>
                                Pink: attraction to females<br>
                                Yellow: attraction to non-binary people<br>
                            </p>
                        </div>
                        <h5>The pansexual flag</h5>
                    </div>

                    <div id="flag9" class="flags">
                        <button class="flag-button">
                            <img src="static/images/flags/genderfluid.png">
                        </button>
                        <div id="flag9Modal" class="modal">
                            <div class="modal-content">
                                <span class="close">&times;</span>
                                <p>
                                    This flag was created by JJ Poole to represent the people whose gender identity
                                    shifts.<br>
                                    Pink represents feminity<br>
                                    White represents all genders<br>
                                    Purple represents masculinity and femininity<br>
                                    Black represents a lack of gender<br>
                                    Blue represents masculinity<br>
                                </p>
                            </div>
                        </div>
                        <h5>The genderfluid flag</h5>
                    </div>

                    <div id="flag10" class="flags">
                        <button class="flag-button">
                            <img src="static/images/flags/intersex.png">
                        </button>
                        <div id="flag10Modal" class="modal">
                            <div class="modal-content">
                                <span class="close">&times;</span>
                                <p>
                                    This flag was created by Morgan Carpenter to represent intersex people and break down the incorrect stereotypes.<br>
                                    The gold/yellow was chosen after being inspired by a story they were told
                                    to reclaim the hermaphrodite slur.<br>
                                    The purple circle represents a community which is unbroken; whole and complete.<br>
                                </p>
                            </div>
                        </div>
                        <h5>The intersex flag</h5>
                    </div>

                    <div id="flag11" class="flags">
                        <button class="flag-button">
                            <img src="static/images/flags/ally-flag.jpg">
                        </button>
                        <div id="flag11Modal" class="modal">
                            <div class="modal-content">
                                <span class="close">&times;</span>
                                <p>
                                    The black and white represents the heterosexual cisgender people <br>
                                    The rainbow colours represent the LGBTQIA+ community, in the shape of an ‘A’ to represent allies.
                                </p>
                            </div>
                        </div>
                        <h5>The ally flag</h5>
                    </div>

                    <div id="flag12" class="flags">
                        <button class="flag-button">
                            <img src="static/images/flags/philedelphia.jpg">
                        </button>
                        <div id="flag12Modal" class="modal">
                            <div class="modal-content">
                                <span class="close">&times;</span>
                                <p>
                                    Noting that queer people of color are often not fully included in the
                                    LGBT community, the city of Philadelphia added two colors — black and brown — to the Pride flag in their honor.
                                    This represents the black and latin communities of Philedelphia. While only intended for Philedelphia,its popularity
                                    took off worldwide.
                                </p>
                            </div>
                        </div>
                        <h5>The Philedelphia flag</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}